<% layout('layouts/boilerplate') %>
<div class="row">
  <h1 class="text-center">New Campground</h1>
  <div class="col-md-6 offset-md-3">
    <form action="/campgrounds" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input class="form-control" type="text" id="title" name="campground[title]" required />
        <div class="valid-feedback">Looks Good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input class="form-control" type="text" id="location" name="campground[location]" required />
        <div class="valid-feedback">Looks Good!</div>
      </div>
      <!-- <div class="mb-3">
        <label class="form-label" for="image">Image Url</label>
        <input
          class="form-control"
          type="text"
          id="image"
          name="campground[image]"
          required
        />
        <div class="valid-feedback">Looks Good!</div>
      </div> -->
      <div class="mb-3">
        <label class="form-label" for="price">Campground Price</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">$</span>
          <input
            type="number"
            class="form-control"
            id="price"
            placeholder="0.00"
            aria-label="price"
            aria-describedby="price-label"
            name="campground[price]"
            required
          />
          <div class="valid-feedback">Looks Good!</div>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea class="form-control" type="text" id="description" name="campground[description]" required></textarea>
        <div class="valid-feedback">Looks Good!</div>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Image(s)</label>
        <input class="form-control" type="file" id="image" name="image" multiple />
        <div id="image-list" class="mt-2"></div>
      </div>
      <div class="mb-3">
        <button class="btn btn-success">Add Campground</button>
      </div>
    </form>
    <a href="/campgrounds">Back to Campgrounds</a>
  </div>
</div>

<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (() => {
    "use strict";

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll(".validated-form");

    // Loop over them and prevent submission
    Array.from(forms).forEach((form) => {
      form.addEventListener(
        "submit",
        (event) => {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }

          form.classList.add("was-validated");
        },
        false
      );
    });
  })();

  // Display selected image filenames
  document.getElementById("image").addEventListener("change", function () {
    const imageList = document.getElementById("image-list");
    imageList.innerHTML = "";

    if (this.files.length > 1) {
      for (let i = 0; i < this.files.length; i++) {
        const file = this.files[i];
        const listItem = document.createElement("div");
        listItem.textContent = file.name;
        imageList.appendChild(listItem);
      }
    }
  });
</script>
